

body {
  background-color: #f9f9f9;
  color: #222;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #94767b;
}


h1, strong {
  color: #ad4053;
}

h2 {
  font-weight: 300;
  font-size: 120%;
}

p, a, li {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.center {
  text-align: center;
}

.circle-img {
  border-radius: 50%;
}
.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.shadow {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.container {
  width: 800px;
  margin: 0 auto;
}

.section-card {
  background-color: white;
  padding: 20px 200px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 20px 0;
}

.social-icons {
  text-align: center;
  margin-top: 40px;
}

.social-icon {
  display: inline-block;
  padding: 0 20px;
}

.social-icon span {
  display: block;
}

.social-icon > a:hover {
  color: #ad4053;
}

.social-icon i {
  font-size: 30px;
}

.tech-skills{
  margin-top:40px;
}

.tech-skill-group {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 20px 0;
}

.tech-skill-card {
  margin: 0 30px;
}
